<div class="im-item w-100 d-flex" id="newQues{{randomNumber}}">
    <div class="cell text-center" style="width: 50px;">
        <input type="text" onkeyup="sendDataToCheckbox({{randomNumber}}, {{rowId}})"
            class="form-control" id="im-{{randomNumber}}" placeholder="IM">
    </div>
    <div class="cell text-center w-100">
        <input type="text" class="form-control" name="" id="question-{{randomNumber}}"
            onkeyup="sendDataToCheckbox('{{randomNumber}}', {{rowId}})" placeholder="Question">
    </div>
    <div class="cell ms-auto text-center fw-bold mt-2">
        <a href="javascript:void(0)" class="text-danger" onclick="deleteQuestion(`newQues{{randomNumber}}`)"><i class="bi bi-trash"></i></a>
    </div>
    <div class="cell ms-auto cell d-flex align-items-center justify-content-center ms-auto text-center fw-bold" style="width:52px;">
        <input type="checkbox"
            name="{{label}}$" id="checkbox-{{randomNumber}}" class="{{rowId}}" value="" checked>
    </div>
</div>