<div class="mb-3 mt-3 category-header" style="break-inside: avoid;">
    <div class="d-flex ">
        <div class="heading top-heading w-100 d-flex border-end">
            <div class="title">
                <div id="box-row-8-label">Please tick if you need the following option in the template</div>
            </div>
        </div>
    </div>
    <div class="table d-flex flex-row flex-wrap box-row class_question" id="box-row-8-questions">
        <div class="im-item w-100 d-flex">
            <div class="cell text-center">
            <input type="checkbox" name="tyre_brake_section" {% if tyre_brake_section_enabled %} checked {% endif %}>
        </div>
            <div class="cell text-center">Tyres,Brake Checks &amp; Tests and Brake Performance</div>
        </div>
    </div>

</div>