{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}

{% comment %} {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %} {% endcomment %}
{% comment %} {% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %} {% endcomment %}

{% block content %}

<div class="border rounded p-5 bg-white m-auto" style="max-width: 500px;">
    <h2>{{ title }}</h2>
    <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-primary btm-lg" type="submit">{% translate 'Reset my password' %}</button>
    </form>

    <div class="mt-3">
        <a href="{% url 'contractor_login' %}">Log in</a>
    </div>
</div>

{% endblock %}
