{% extends "admin/change_form.html" %}
{% load static %}

{% block after_field_sets %}
{% if original.template %}
<div>
    <a href="{% url 'edit_template' original.template.pk %}" class="default">
        <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change Icon">
        Update {{ original.template.name }}
    </a>
</div>
{% else %}
<div>
    <a href="{% url 'choose_vehicle_type' %}" class="default">
      <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Add Icon">
      Add New Template
    </a>
  </div>
   <span class="help ml-4">or, Select a template from the above template dropdown</span>
{% endif %}
<br />
{% endblock %}