<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Terms, Privacy -->
    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.025);">

        <a class="text-center bg-white text-muted noDecoration" href="{% url 'terms' %}">Terms & Conditions</a> |

        <a class="text-center bg-white text-muted noDecoration" href="{% url 'privacy_policy' %}">Privacy Policy</a>

    </div>
    <!-- Terms, Privacy -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#">RS RECOVERY</a>
    </div>
    <!-- Copyright -->
</footer>